language: node_js
node_js:
  - "12"
services:
  - docker

script:
  - npm run build
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - echo "push a image for tag $TRAVIS_COMMIT"
  - docker build -t "pea3nut/pxer:${TRAVIS_COMMIT}" .
  - docker push "pea3nut/pxer:${TRAVIS_COMMIT}"
  - sh push-tag-image.sh