<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pxer 7</title>
    <style>
        body{
            width:970px;
            margin: 0 auto 50vh;
            background-color: #ccc;

        }
    </style>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../public/favicon.ico" />
    <script src="../app/lib.js"></script>
    <script src="vue.dev.js"></script>
</head>
<body>
    <div id="pxer-app"></div>
</body>
</html>
<script>
    window['PXER_TEMPLATE'] =function(){
        var xhr =new XMLHttpRequest();
        xhr.open('GET','./template.html',false);
        xhr.send();
        return xhr.responseText;
    }();
    window['PXER_SUPPORT'] =true;
    window['PXER_VERSION'] ='7.0.0';
    window.PxerApp =function(){
        this.failList =[
        {
            url:'pixiv/111',
            type:'timeout',
            xhr:new XMLHttpRequest(),
            task:{id:111},
        },{
            url:'pixiv/222',
            type:'empty',
            xhr:new XMLHttpRequest(),
            task:{id:222},
        },{
            url:'pixiv/333',
            type:'r-18',
            xhr:new XMLHttpRequest(),
            task:{id:333},
        },{
            url:'pixiv/444',
            type:'r-18g',
            xhr:new XMLHttpRequest(),
            task:{id:444},
        },{
            url:'pixiv/555',
            type:'mypixiv',
            xhr:new XMLHttpRequest(),
            task:{id:555},
        }];
        this.worksNum=2333;
        this.pageType='search';
        this.ptmConfig ={//PxerThreadManager
            timeout:5000,
            retry:3,
            thread:8,
        };
        this.taskList =[];
        this.resultSet =[];
        this.ppConfig ={
            "manga_single"    :"max",//[max|600p|no]
            "manga_multiple"  :"max",//[max|1200p|cover_600p|no]
            "illust_single"   :"max",//[max|600p|no]
            "illust_multiple" :"max",//[max|1200p|cover_600p|no]
            "ugoira_zip"      :"no",//[max|600p|no]
            "ugoira_frames"   :"no",//[yes|no]
        };
        this.pfConfig ={
            "score"     :0,
            "avg"       :0,
            "view"      :0,
            "has_tag_every" :[],
            "has_tag_some"  :[],
            "no_tag_any"    :[],
            "no_tag_every"  :[],
        };
        this.getWorksInfo=()=>{};
        this.printWorks=()=>{};
        this.switchFail2Task=()=>{};
        this.taskOption={
            limit  :null,
            stopId :null,
        };
        this.on=function(){
            
        }
    };

    setTimeout(Vue.nextTick,0,function(){
        PXER_VM.showAll =true;
        //PXER_VM.showTaskOption =true;
        PXER_VM.taskInfo='喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵';
        PXER_VM.state='finish';
    });
</script>
<script src="vm.js"></script>