@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
	color:#333;
}
body{
	background: #808080 url("../image/uchu01.jpg") repeat scroll 0 0;
}
li{
	list-style: none;
}
img{
	border:1px solid #666;
}
a{
	text-decoration: none;
}
div.creatHeight{
	clear: both;
}
#main{
	max-width: 880px;
	min-width: 360px;
	width: 90%;
	margin: 0 auto;
}