@CHARSET "UTF-8";
header{
	width:100%;
	margin:0 0 100px 0;
}
header img{
	width:100%;
	border:none;
}
#myBody aside{
	max-width:230px;
	width:26%;
	float: left;
	background: #fff;
	padding:1%;
}
#myBody aside ul.showPerson{
	margin:15px 0 0 0;
}
#myBody aside ul.showPerson li{
	margin:10px 0;
	border-bottom: 1px dashed #c0c0c0;
	word-wrap: break-word;
	word-break: break-all;
}
#myBody aside ul.showPerson li span.lable{
	font-weight: bold;
	font-family: "黑体";
	font-size: 1.2em;
}
#myBody aside img.myLogo{
	max-width:100%;
}
#myBody article{
	float: right;
	max-width:620px;
	width:70%;
}
#myBody article a{
	cursor: pointer;
}
#myBody article a h3{
	text-decoration: underline;
}
#myBody article a h3:hover{
	text-decoration: none;
	color:#3769ec;

}
#myBody article a img.imgAlt{
	max-width:250px;
	max-height: 250px;
	width:35%;
	margin:0 0 0 5px;
	float: right;
	position: relative;
	top:15px;
}
#myBody article div.works{
	background: #fff;
	margin:0 0 20px 0;
	padding:5px 10px;
}
#myBody article div.works div.excerpt{
	margin:10px 0 0 0;
	padding:0 0 0 5px;
}
#myBody article div.works div.date{
	margin:5px 0 0 0;
	font-size:12px;
	color:#666;
}