*{
	margin:0;
	padding:0;
}
#pxer *{
	letter-spacing:2px;
	font-family: "黑体";
	font-size: 14px;
}
#pxer .pxer_connect{
	width:850px;
	height:4px;
	border:3px solid #000;
	border-width:0 3px;
	margin:0px auto -2px auto;
	box-shadow:none;
	background:none;
}
#pxer .pxer_connect:hover{
	box-shadow:none;
}
#pxer .creatHeight{
	width:100%;
	min-width:10px;
	height:0px;
	clear:both;
}
#pxer .pxer_ok{
	font-weight:900;
	color:#00aa00;
	font-style: normal;
}
#pxer .pxer_no{
	font-weight:900;
	color:#ff2f2f;
	font-style: normal;
}
#pxer .pxerBtn{
	box-shadow:0 0 5px #111;
	cursor: pointer;
	position:relative;
	background-color:#fff;
}
#pxer .pxerBtn:disabled{
	border:1px solid #000;
	box-shadow:none;
}
#pxer .pxerBtn:disabled:hover{
	border:1px solid #000;
	box-shadow:none;
	top:0;
}
#pxer .pxerBtn:hover{
	box-shadow:0 0 8px #000;
	top:-1px;
}
#pxer .pxerBtn:active{
	box-shadow:0 0 2px #111;
	top:2px;
}
#pxer input.pxerTxt[type="text"]{
	border:2px solid #ccc;
	border-radius:5px;
	text-indent:5px;
}
#pxer input.pxerTxt:focus{
	border-color:#258fb8;
}
#pxer a,#pxer a:visited{
	color:#024eff;
}
#pxer a:hover{
	color:#ff8724;
}
#pxer button{
	border:none;
}
#pxer em.act{
	font-style: normal;
	font-weight: bold;
}
#pxer img{
	vertical-align: baseline;
}
#pxer fieldset{
	border:1px solid #000;
	margin-bottom: 5px;
}
#pxer fieldset legend{
	font-size:14px;
	font-weight: 800;
	letter-spacing:0px;
}


#pxer{
	width:100%;
	margin:0 auto 10px auto;
}
#pxer > *{
	width:950px;
	padding:2px 10px;
	margin:10px auto 0 auto;
	border:1px solid #888;
	min-heigth:45px;
	box-shadow:0 0 3px #222;
	background: url("image/paper.jpg");
 	display:none;
}
#pxer > *:hover{
	box-shadow:0 0 5px #000;
}
#pxer #pxer_main > *{
	display:inline-block;
}
#pxer #pxer_main #pxer_main_logo img{
	max-width:40px;
	max-height:40px;
	position:relative;
	top:5px
}
#pxer #pxer_main #pxer_main_logo span{
	font-family: "Helvetica Neue","arial","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
	font-size:35px;
	color:#258fb8;
}
#pxer #pxer_main #pxer_main_logo span strong{
	font-size:20px;
	margin:0 0 0 8px;
}
#pxer #pxer_main:hover #pxer_main_logo span em{
	font-style: normal;
}
#pxer #pxer_main ul#pxer_main_nav{
	height:100%;
	display:block;
	float:right;
}
#pxer #pxer_main ul#pxer_main_nav li{
	display:inline-block;
	padding:0 15px;
	margin:10px 3px 0 0;
	height:35px;
	line-height:35px;
}
#pxer #pxer_about fieldset{
	float:left;
	width:461px;
	padding:0 0 0 4px;
	margin-right: 3px;
	margin-left: 3px;
}
#pxer #pxer_about fieldset p em{
	font-style: normal;
}
#pxer #pxer_about fieldset p em img{
	height:25px;
	margin:0 3px -5px 0;
}
#pxer #pxer_about fieldset p em a{
	letter-spacing:0px;
	font-size:12px;
}
#pxer #pxer_config{
	padding:10px;
}
#pxer #pxer_config label{
	margin:0 10px;
}
#pxer #pxer_config label input[type="text"]{
	width:50px;
}
#pxer #pxer_config button{
	margin:0 0 0 10px;
	padding:2px 5px
}
#pxer #pxer_process{
	text-align: center;
}
#pxer #pxer_process fieldset{
	width:220px;
	display:inline-block;
	padding:2px 0 0 5px;
	text-align: left;
	margin-left:5px;
	margin-rigth:5px;
}
#pxer #pxer_process fieldset#pxer_thread{
	display: none;
}
#pxer #pxer_showState fieldset{
	float:left;
	width:222px;
	margin-right:10px;
	padding:0 0 0 6px;
}
#pxer #pxer_showState fieldset.lastFieldset{
	margin-right:0;
}
#pxer #pxer_showState fieldset.lastFieldset button{
	float:right;
	padding:3px 5px;
	letter-spacing: 0px;
	margin-top:-8px;
}
#pxer #pxer_showState fieldset.lastFieldset button:disabled{
	margin-top:-10px;
}
#pxer #pxer_filter{
}
#pxer #pxer_filter p{
	width:400px;
	display:inline-block;
	padding:2px;
	margin:10px;
	text-align: right;
}
#pxer #pxer_print fieldset{
	padding:0 0 0 5px;
}
#pxer #pxer_print fieldset p{
	border-bottom: 1px dashed #000;
}
#pxer #pxer_print fieldset p label{
	padding:0 7px;
	margin:0 3px;
}
#pxer #pxer_print #bn_print{
	padding:0 20px;
	float:right;
	margin:-60px 10px 0 0;
	font-size:18px;
	line-height: 40px;
}










